doctype 5
html
  head
    title= R
    link(rel="stylesheet", type="text/css", href="#{path}/#{build}/application.css")

    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Asap:400,700',rel='stylesheet',type='text/css')

    script(src="#{path}/#{build}/r2.js")

    script(type='text/javascript', charset='utf-8').
      var jQuery  = require("jqueryify");

      var apiServer= "#{apiServer}";

      var tokens, re = /[?&]?([^=]+)=([^&]*)/g;
      function getQueryParams(qs) {
        var params = {}
        qs = qs.split("+").join(" ");
        while (tokens = re.exec(qs)) {
          params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
        }
        return params;
      }

      var queryString = getQueryParams(document.location.search);

      if( ( queryString["session"] == null || queryString["session"] == undefined ) && (localStorage.session == null || localStorage.session == undefined) ){
        //window.location.href = "/login.html";
      }
      
      var layout = "web"

      var exports = this;
      jQuery(function(){
        var App = require("index");
        window.src = { path: "#{path}" , build: "#{build}" }
        //exports.app =  new App({ el: $("body") , layout: layout, session: queryString["session"], apiServer: apiServer }); 
      });
      
      
  body.fullHeight 
  
    .outer-container.full-height
      .row.full-height
        .col-md-1.menu
      
        .kanban
          .kanban-wrapper
            .row
              .col-md-9
                .app-header Entregas
              .col-md-3
                .button-large
                  span.original-text Crear Nueva Ruta
                  svg.icon-large.icon-create(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 33 33')
                    <polygon points="33.1,15.6 17.6,15.6 17.6,0.1 15.6,0.1 15.6,15.6 0.1,15.6 0.1,17.6 15.6,17.6 15.6,33.1 17.6,33.1 17.6,17.6 33.1,17.6"/>
                  span.hover-text Cancelar Ruta
                  
              
            
            .col-md-3.kan-col
              .header.blue
                span.triangle
                span.large-title Pendientes

              .content-body

                .input-item.input-select Filtrar por:<svg class="icon-medium icon-blue right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.191 9.719"><g><rect x="-0" y="0" width="14.2" height="1"/><rect x="-0" y="4.4" width="14.2" height="1"/><rect x="-0" y="8.7" width="14.2" height="1"/></g></svg>

                .list-header <svg class="icon-medium left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.166 22.166"><g><path d="M11.1 0h-0.018C4.971 0 0 5 0 11.083c0 6.1 5 11.1 11.1 11.082c6.111 0 11.084-4.973 11.084-11.082 C22.166 5 17.2 0 11.1 0z M11.1 21.166h-0.018C5.523 21.2 1 16.6 1 11.083C1 5.5 5.5 1 11.1 1c5.561 0 10.1 4.5 10.1 10.1 C21.166 16.6 16.6 21.2 11.1 21.166z"/><path d="M11.201 11.254V4.719c0-0.271-0.219-0.49-0.49-0.49s-0.49 0.219-0.49 0.49v6.738c0 0.1 0 0.1 0 0.2 c0.025 0.1 0.1 0.1 0.1 0.158l4.763 4.764c0.097 0.1 0.2 0.1 0.3 0.101s0.252-0.048 0.348-0.144c0.19-0.191 0.19-0.502 0-0.693 L11.201 11.254z"/></g></svg>Agosto 29

                .list-item La Maravilla N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                  .nested-list
                    .nested-list-item Transporte: RODCO
                    .nested-list-item Productos
                      .nested-list
                        .nested-list-item 1 Llavin Dale Doble Paso
                        .nested-list-item 3 Llavin Dale Doble Paso
                  .list-options
                    <svg class="icon-medium icon-info icon-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g><path d="M15.645 8.675h-2.197V0.43c0-0.211-0.172-0.383-0.383-0.383H3.442c-0.211 0-0.382 0.172-0.382 0.383v8.245H0.437 c-0.211 0-0.382 0.172-0.382 0.383v6.56C0.054 15.8 0.2 16 0.4 16h15.208c0.211 0 0.383-0.172 0.383-0.383v-6.56 C16.027 8.8 15.9 8.7 15.6 8.675z M3.825 0.813h8.857v7.862H3.825V0.813z M15.262 15.234H0.819V9.44h2.624h9.622h2.197 V15.234z"/><path d="M11.391 2.299H5.103c-0.211 0-0.382 0.172-0.382 0.383s0.171 0.4 0.4 0.383h6.288c0.211 0 0.383-0.172 0.383-0.383 S11.602 2.3 11.4 2.299z"/><path d="M11.391 4.36H5.103c-0.211 0-0.382 0.172-0.382 0.383s0.171 0.4 0.4 0.383h6.288c0.211 0 0.383-0.172 0.383-0.383 S11.602 4.4 11.4 4.36z"/><path d="M11.391 6.423H5.103c-0.211 0-0.382 0.172-0.382 0.383s0.171 0.4 0.4 0.383h6.288c0.211 0 0.383-0.172 0.383-0.383 S11.602 6.4 11.4 6.423z"/></g></svg><svg class="icon-medium icon-success icon-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.139 16"><g><g><g><polygon points="6.5,15.9 -0,9.5 1.3,8.1 6.5,13.3 19.8,-0.1 21.1,1.3"/></g></g></g></svg> 

                .list-item Hogar y Ferretería N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                  .nested-list
                    .nested-list-item Transporte: RODCO
                    .nested-list-item Productos
                      .nested-list
                        .nested-list-item 1 Llavin Dale Doble Paso
                        .nested-list-item 3 Llavin Dale Doble Paso
                    .nested-list-item Dirección:
                      .nested-list
                        .nested-list-item San José Coronado, CostadoEste Iglesia

                .list-item Taller Industrial N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                  .nested-list
                    .nested-list-item Transporte: RODCO
                    .nested-list-item Productos
                      .nested-list
                        .nested-list-item 1 Llavin Dale Doble Paso
                        .nested-list-item 3 Llavin Dale Doble Paso
                    .nested-list-item Dirección:
                      .nested-list
                        .nested-list-item San José Coronado, CostadoEste Iglesia

                .list-header <svg class="icon-medium left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.166 22.166"><g><path d="M11.1 0h-0.018C4.971 0 0 5 0 11.083c0 6.1 5 11.1 11.1 11.082c6.111 0 11.084-4.973 11.084-11.082 C22.166 5 17.2 0 11.1 0z M11.1 21.166h-0.018C5.523 21.2 1 16.6 1 11.083C1 5.5 5.5 1 11.1 1c5.561 0 10.1 4.5 10.1 10.1 C21.166 16.6 16.6 21.2 11.1 21.166z"/><path d="M11.201 11.254V4.719c0-0.271-0.219-0.49-0.49-0.49s-0.49 0.219-0.49 0.49v6.738c0 0.1 0 0.1 0 0.2 c0.025 0.1 0.1 0.1 0.1 0.158l4.763 4.764c0.097 0.1 0.2 0.1 0.3 0.101s0.252-0.048 0.348-0.144c0.19-0.191 0.19-0.502 0-0.693 L11.201 11.254z"/></g></svg>Agosto 28      

                .list-item Ferretería y Materiales Orosí N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                  .nested-list
                    .nested-list-item Transporte: RODCO
                    .nested-list-item Productos
                      .nested-list
                        .nested-list-item 1 Llavin Dale Doble Paso
                        .nested-list-item 3 Llavin Dale Doble Paso
                    .nested-list-item Dirección:
                      .nested-list
                        .nested-list-item San José Coronado, CostadoEste Iglesia

                .list-item Mundillaves N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                  .nested-list
                    .nested-list-item Transporte: RODCO
                    .nested-list-item Productos
                      .nested-list
                        .nested-list-item 1 Llavin Dale Doble Paso
                        .nested-list-item 3 Llavin Dale Doble Paso
                    .nested-list-item Dirección:
                      .nested-list
                        .nested-list-item San José Coronado, CostadoEste Iglesia
    
            .col-md-6.kan-col.purple
              .header.purple
                span.triangle
                span.large-title En Proceso

                .purple .header {
                background: @brand-info
                }
                .purple .list-header {
                  .icons { fill :@brandinfo}
                }  

              .content-body
                .sub-header
                  .sub-title Cliente
                .row
                  .col-md-4

                    .list-header <svg class="icon-medium icon-clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.166 22.166"><g><path d="M11.1 0h-0.018C4.971 0 0 5 0 11.083c0 6.1 5 11.1 11.1 11.082c6.111 0 11.084-4.973 11.084-11.082 C22.166 5 17.2 0 11.1 0z M11.1 21.166h-0.018C5.523 21.2 1 16.6 1 11.083C1 5.5 5.5 1 11.1 1c5.561 0 10.1 4.5 10.1 10.1 C21.166 16.6 16.6 21.2 11.1 21.166z"/><path d="M11.201 11.254V4.719c0-0.271-0.219-0.49-0.49-0.49s-0.49 0.219-0.49 0.49v6.738c0 0.1 0 0.1 0 0.2 c0.025 0.1 0.1 0.1 0.1 0.158l4.763 4.764c0.097 0.1 0.2 0.1 0.3 0.101s0.252-0.048 0.348-0.144c0.19-0.191 0.19-0.502 0-0.693 L11.201 11.254z"/></g></svg>Agosto 28

                    .list-item La Maravilla N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                      .nested-list
                        .nested-list-item Transporte: RODCO
                        .nested-list-item Productos
                          .nested-list
                            .nested-list-item 1 Llavin Dale Doble Paso
                            .nested-list-item 3 Llavin Dale Doble Paso
                        .nested-list-item Dirección:
                          .nested-list
                            .nested-list-item San José Coronado, CostadoEste Iglesia

                    .list-item Taller Industrial N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                      .nested-list
                        .nested-list-item Transporte: RODCO
                        .nested-list-item Productos
                          .nested-list
                            .nested-list-item 1 Llavin Dale Doble Paso
                            .nested-list-item 3 Llavin Dale Doble Paso
                        .nested-list-item Dirección:
                          .nested-list
                            .nested-list-item San José Coronado, CostadoEste Iglesia 

                    .list-item Ferretería y Materiales Orosí N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                      .nested-list
                        .nested-list-item Transporte: RODCO
                        .nested-list-item Productos
                          .nested-list
                            .nested-list-item 1 Llavin Dale Doble Paso
                            .nested-list-item 3 Llavin Dale Doble Paso
                        .nested-list-item Dirección:
                          .nested-list
                            .nested-list-item San José Coronado, CostadoEste Iglesia

                    .list-item Mundillaves N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                      .nested-list
                        .nested-list-item Transporte: RODCO
                        .nested-list-item Productos
                          .nested-list
                            .nested-list-item 1 Llavin Dale Doble Paso
                            .nested-list-item 3 Llavin Dale Doble Paso
                        .nested-list-item Dirección:
                          .nested-list
                            .nested-list-item San José Coronado, CostadoEste Iglesia

                  .col-md-4

                    .list-header <svg class="icon-medium icon-clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.166 22.166"><g><path d="M11.1 0h-0.018C4.971 0 0 5 0 11.083c0 6.1 5 11.1 11.1 11.082c6.111 0 11.084-4.973 11.084-11.082 C22.166 5 17.2 0 11.1 0z M11.1 21.166h-0.018C5.523 21.2 1 16.6 1 11.083C1 5.5 5.5 1 11.1 1c5.561 0 10.1 4.5 10.1 10.1 C21.166 16.6 16.6 21.2 11.1 21.166z"/><path d="M11.201 11.254V4.719c0-0.271-0.219-0.49-0.49-0.49s-0.49 0.219-0.49 0.49v6.738c0 0.1 0 0.1 0 0.2 c0.025 0.1 0.1 0.1 0.1 0.158l4.763 4.764c0.097 0.1 0.2 0.1 0.3 0.101s0.252-0.048 0.348-0.144c0.19-0.191 0.19-0.502 0-0.693 L11.201 11.254z"/></g></svg>Agosto 29

                    .list-item Hogar y Ferretería N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                      .nested-list
                        .nested-list-item Transporte: RODCO
                        .nested-list-item Empaque:
                          .input-item
                        .nested-list-item Productos
                          .nested-list
                            .nested-list-item 1 Llavin Dale Doble Paso
                            .nested-list-item 3 Llavin Dale Doble Paso
                        .nested-list-item Dirección:
                          .nested-list
                            .nested-list-item San José Coronado, CostadoEste Iglesia

                    .list-item Taller Industrial N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                      .nested-list
                        .nested-list-item Transporte: RODCO
                        .nested-list-item Empaque:
                          .input-item
                        .nested-list-item Productos
                          .nested-list
                            .nested-list-item 1 Llavin Dale Doble Paso
                            .nested-list-item 3 Llavin Dale Doble Paso
                        .nested-list-item Dirección:
                          .nested-list
                            .nested-list-item San José Coronado, CostadoEste Iglesia 

                    .list-item Ferretería y Materiales Orosí N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                      .nested-list
                        .nested-list-item Transporte: RODCO
                        .nested-list-item Empaque:
                          .input-item
                        .nested-list-item Productos
                          .nested-list
                            .nested-list-item 1 Llavin Dale Doble Paso
                            .nested-list-item 3 Llavin Dale Doble Paso
                        .nested-list-item Dirección:
                          .nested-list
                            .nested-list-item San José Coronado, CostadoEste Iglesia
                      
                    .list-item Mundillaves N°6472<svg class="icon-small icon-fold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5.316"><g><g><path d="M4.168 5.255c-0.135 0-0.263-0.06-0.351-0.163L0.165 0.755C0.001 0.6 0 0.3 0.2 0.1 C0.413-0.056 0.703-0.03 0.9 0.164l3.287 3.902L7.15 0.179c0.154-0.202 0.442-0.237 0.643-0.083 C7.994 0.2 8 0.5 7.9 0.739L4.532 5.077C4.447 5.2 4.3 5.3 4.2 5.255C4.175 5.3 4.2 5.3 4.2 5.255z"/></g></g></svg>
                      .nested-list
                        .nested-list-item Transporte: RODCO
                        .nested-list-item Empaque:
                          .input-item
                        .nested-list-item Productos
                          .nested-list
                            .nested-list-item 1 Llavin Dale Doble Paso
                            .nested-list-item 3 Llavin Dale Doble Paso
                        .nested-list-item Dirección:
                          .nested-list
                            .nested-list-item San José Coronado, CostadoEste Iglesia

                  .col-md-4

                    .list-header <svg class="icon-medium icon-clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.166 22.166"><g><path d="M11.1 0h-0.018C4.971 0 0 5 0 11.083c0 6.1 5 11.1 11.1 11.082c6.111 0 11.084-4.973 11.084-11.082 C22.166 5 17.2 0 11.1 0z M11.1 21.166h-0.018C5.523 21.2 1 16.6 1 11.083C1 5.5 5.5 1 11.1 1c5.561 0 10.1 4.5 10.1 10.1 C21.166 16.6 16.6 21.2 11.1 21.166z"/><path d="M11.201 11.254V4.719c0-0.271-0.219-0.49-0.49-0.49s-0.49 0.219-0.49 0.49v6.738c0 0.1 0 0.1 0 0.2 c0.025 0.1 0.1 0.1 0.1 0.158l4.763 4.764c0.097 0.1 0.2 0.1 0.3 0.101s0.252-0.048 0.348-0.144c0.19-0.191 0.19-0.502 0-0.693 L11.201 11.254z"/></g></svg>Agosto 30

                      .list-item
                        .text Hogar y Ferreteria
                      .list-item
                        .text Taller Industrial
                      .list-item
                        .text Ferreteria y Materiales Orosi
                      .list-item
                        .text Mundillaves


            .col-md-3.kan-col
              .header.green
                span.triangle
                span.large-title Entregados

              .content-body

                .input-item.input-select HOY<svg class="icon-medium icon-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.191 9.719"><g><rect x="-0" y="0" width="14.2" height="1"/><rect x="-0" y="4.4" width="14.2" height="1"/><rect x="-0" y="8.7" width="14.2" height="1"/></g></svg>

                .list-item
                  .text Hogar y Ferreteria N°6472
                .list-item
                  .text Taller Industrial N°6472
                .list-item
                  .text Ferreteria y Materiales Orosi N°6472
                .list-item
                  .text Mundillaves N°6472
              
              
              
              
              
              
              