doctype 5
html
  head
    title= R2
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(href='http://fonts.googleapis.com/css?family=Roboto:100|Open+Sans:400,300&subset=latin', rel='stylesheet', type='text/css')

    link(rel="stylesheet", type="text/css", href="http://r2.apps.3vot.com/#{orgId}/r2.css")

    script(src="http://r2.apps.3vot.com/v1/r2.js")

    script(type='text/javascript', charset='utf-8').
      var jQuery  = require("jqueryify");

      var apiServer= "#{apiServer}";
      
      var layout = "web";

      var exports = this;
      jQuery(function(){

        var App = require("r2");
        exports.app =  new App(
          { 
          el: $("body"), 
          layout: layout, 
          apiServer: apiServer,
          appUrl: "#{app_url}",
          path: "#{path}",
          orgId: "#{orgId}"
          }
        ); 
      });

  body
    .responsiveCheckWrapper
      .visible-xs.responsiveCheck(data-device="mobile") a
      .visible-sm.responsiveCheck(data-device="mobile") a
      .visible-md.responsiveCheck(data-device="desktop") a 
      .visible-lg.responsiveCheck(data-device="desktop") a
    .appWrapper