doctype 5
html
  head
    title= R
    link(rel="stylesheet", type="text/css", href="#{path}/r2.css")

    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Asap:400,700',rel='stylesheet',type='text/css')

    script(src="#{path}/r2.js")

    script(type='text/javascript', charset='utf-8').
      var jQuery  = require("jqueryify");

      var apiServer= "#{apiServer}";
      
      var layout = "web"

      var exports = this;
      jQuery(function(){
        var App = require("index");
        window.src = { path: "#{path}" , build: "#{build}" }
        //exports.app =  new App({ el: $("body") , layout: layout, session: queryString["session"], apiServer: apiServer }); 
=======
        var App = require("r2");
        exports.app =  new App(
          { 
            el: $("body"), 
            layout: layout, 
            apiServer: apiServer,
            path: "#{path}"
          }
        ); 
      });
      
      
  body.fullHeight
