doctype 5
html
  head
    title= R
    link(rel="stylesheet", type="text/css", href="#{path}/#{build}/application.css")

    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Asap:400,700',rel='stylesheet',type='text/css')

    script(src="#{path}/#{build}/web.js")

    script(type='text/javascript', charset='utf-8').
      var jQuery  = require("jqueryify");
      var exports = this;
      jQuery(function(){
        var App = require("index");
        window.src = { path: "#{path}" , build: "#{build}" }
        exports.app =  new App({ el: $("body") }); 
      });


  body.fullHeight
    block content
