doctype 5
html
  head
    title= R
    link(rel="stylesheet", type="text/css", href="#{path}/#{build}/application.css")

    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Asap:400,700',rel='stylesheet',type='text/css')

    script(src="#{path}/#{build}/r2.js")

    script(type='text/javascript', charset='utf-8').
      if(localStorage.session != null && localStorage.session != undefined){
        window.location.href = "/";
      }

  body.fullHeight

   .outer-container.full-height
      .row.full-height

        .col-md-1.menu

    
        .col-md-11.kanban

          .kanban-wrapper
            .row
              .col-md-12
                h1 R2Rodco 

            .row.full-height
  
              .col-md-6.col-md-offset-3.kan-col
                .login-wrapper.
                  <div class="header purple"><span class="triangle"></span><span class="large-title">Hi, how do you want to login?</span></div>
                  <div class="sub-header">
                    <div class="sub-title">R2 Web & Mobile Platform</div>
                  </div>
                  <div class="content-body scrollable">
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1">

                          <div class="row login-box">

                                  <div class="col-md-6 col-md-offset-">
                                    <div class="large-title text-center">Customers & Visitors</div>
                                    <a href="#{apiServer}/facebook/login" class="btn btn-lg btn-block btn-facebook large">
                                        Sign in with <b>Facebook</b>
                                    </a>
                                  </div>


                                  <div class="col-md-6 col-md-offset-">
                                    <div  class="large-title text-center">Employees & Partners</div>

                                  <a href="#{apiServer}/sessions/salesforce/login" class="btn btn-salesforce btn-lg btn-block">
                                      Sign in with <b>Salesforce</b>
                                  </a>
                                  </div>

                          </div>

                          <p class="text-right"><b>Call</b> if you have any problems: <b>+506 2240 99 66</b></p>
                          <p class="small text-right">Support also available in Twitter and Facebook</p>

                      </div>
                    </div>
                  </div>
                  
              
